main {
  width: 200px;
  min-height: 120px;
}
h1{
  text-align: center;
  line-height: 120px;
}
p{
  text-align: right;
}
a{
  transition: color .2s linear;
  color: #333;
}
a:focus{
  outline: none;
}
a:hover{
  color: #1993e4;
}
